/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 140px;
}


h3{
  text-align: center;
}

#heading{
  text-align: center;
}

#player{
  display: flex;
  justify-content: space-around;
}

#cardDiv{
  display: flex;
  justify-content: space-around;
} 

.faceDownContainer{
  display: flex;
  padding: 3% 0%;
}

.faceDown{
  margin-left: 3%;
}

#scoreSection{
  display: flex;
  justify-content: space-around;
}
/******************************************
/* ADDITIONAL STYLES
/******************************************